:root{
  --primary: #64A926;
  --muted: #6b6b6b;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #222;
}

/* Headings and special fonts */
h1, h2, h3, h4, h5, h6{ font-family: 'Jost', sans-serif }
.sub-title{ font-family: 'Cherry Swash', cursive }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
